/* #root{
    background-color: #303030;
}

.card-body{
    color: #f6f7fc;
    background: #1f1f1f;
}

h2{
    color: #ffffff;
} */

a {
    color: #afafaf;
    text-decoration: none;
}

body{
    background-color: #afc9dc;
}